.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.container {
  display: flex;
  flex: 1; /* Takes up remaining space */
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  flex: 1; /* Takes up remaining space in the container */
}
